<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="/css/normalize.min.css">
    <link href="./font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <link rel='stylesheet prefetch' href='/css/Montserrat.css'>

    <script type="text/javascript" src="/js/popper-1.12.9.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    <link href="./css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-dark rounded bg-dark">
            <span class="navbar-brand">Fikrini Paylaş</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0" action="/users" method="post">
                    <div class="input-group">
                    <input class="form-control" id="search" type="text" placeholder="Search" name="search" aria-label="Search">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> </button>
                            </span>
                    </div>
                </form>
            </div>
        </nav>
        <div class="col">
            <div class="row bg-secondary rounded" style="min-height:100vh;max-height: 100vh;">

        <div class="col-3">
            <div class="card">
            <img src="./images/Yumurta.jpg" class="rounded card-img-top" alt="">
            <div class="card-body">
            <h3>Username</h3>
                <h5><%=data.nickname%> </h5>
                <h5><%=data.name%> </h5>
                <h5><%=data.surname%> </h5>
                <h5><%=console.log(JSON.stringify(data))%> </h5>

            </div>
            </div>
        </div>
        <div class="col-9">
            <div class="commentbox-app rounded bg-white">
                    <h1 class="heading">commentbox</h1>
                    <div class="clearfix">
                        <form id="comment-form">
                            <input type="text" id="comment-input" class="comment-input" id="comment-input" placeholder="Mesajını yaz" required>
                            <input type="submit" value="Post" class="comment-btn" id="comment-btn">
                        </form>
                    </div>
                    <ul id="Mesajlasma">
                        <%try{ for(var i=messages.length-1; i>=0; i--){ %>
                        <%console.log(messages[0].message)%>
                        <li><div class="post-preview"><a href="#"><h3 class="post-subtitle"><%=messages[i].message%></h3></a><p class="post-meta">Posted by <a href="#"><%=messages[i].sender%></a> on <%=messages[i].created%></p></div></li>
                        <%}}catch(e){console.log(e)}%>
                    </ul>
                    <button class="remove-all-btn" id="remove-all" type="button">Remove all</button>
            </div>
    </div>
</div>
    </div>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

<script src="./socket.io/socket.io.js"></script>
<script src="./javascripts/client.js"></script>


</html>